<?xml version="1.0"?>
<!--
  水下滑翔机 - 执行器层定义
  HardwareSimPlugin 直接驱动关节 (SetPosition + preserveWorldVelocity)
  参考 UUV FinPlugin 的运动学设定方式
-->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="ug_glider_actuators" params="namespace">

    <!-- 硬件抽象仿真插件 -->
    <gazebo>
      <plugin name="${namespace}_hardware_sim" filename="libhardware_sim_plugin.so">
        <namespace>${namespace}</namespace>
        <battery_joint>${namespace}/battery_joint</battery_joint>
        <rudder_joint>${namespace}/rudder_joint</rudder_joint>
      </plugin>
    </gazebo>

  </xacro:macro>

</robot>
